<div id="map"></div>
<script>
  $("body").ready(function(){
    var loc = $.parseJSON('<%= @positions.html_safe %>');
    loc.forEach(function(l){
      var date = new Date(l.time);
      mapper.addMarker(l.position[0],l.position[1], $.timeago(date));
    });
    var timeInt = setInterval(mapper.fetcher, 2 * 1000);
   });
</script>